.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 850px;
    padding: 32px;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-greeting {
    display: flex;
    font-weight: bold;
    font-size: 6rem;
    /* color: #6F5643; */
}

.intro-sub-greeting {
    font-size: 2rem;
    /* padding: 24px; */
}

.intro-model {
    height: 600px;
    width: min(600px, 100%);
    z-index: 10;
}

@media (max-width: 1080px) {
    .intro {
      flex-direction: column;
    }
    
    .intro-greeting {
        justify-content: center;
    }

    .intro-sub-greeting {
        text-align: center;
    }

    .intro-model {
        display: none;
    }
}